# Simple AF Base Printer (F003)
# CR-10 SE
# Printer_size: 220x220x265
# Version: v1.2.20
# CreateDate: 2024/01/16
# Nozzle_mcu: chip: GD32F303CBT6
#             version: CR-NOZZLE_V21
# mcu: chip: GD32F303RET6
#      version: CR4NS200323C10
[mcu]
serial:/dev/ttyS1
baud:230400
restart_method: command

[mcu nozzle_mcu]
serial:/dev/ttyS7
baud: 230400
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 600
max_accel: 8000
max_z_velocity: 30
square_corner_velocity: 5.0
max_z_accel: 300

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 32
rotation_distance: 40
# endstop_pin: !PA11
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: -10.5
position_min: -10.5
position_max: 243
homing_speed: 20
homing_retract_dist:0

[tmc2209 stepper_x]
uart_pin:PB12
driver_SGTHRS: 78
uart_address:3 
interpolate: True
run_current:0.65
sense_resistor: 0.150
stealthchop_threshold: 0
diag_pin: ^PB10

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 32
rotation_distance: 60
# endstop_pin: !PA12
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: -5.5
position_min: -5.5
position_max: 225
homing_speed: 30
homing_retract_dist:0

[tmc2209 stepper_y]
uart_pin:PB13
driver_SGTHRS: 75
uart_address:3 
interpolate: True
driver_HSTRT: 6
driver_HEND: 0
run_current: 0.6
sense_resistor: 0.150
stealthchop_threshold: 0
diag_pin: ^PB11

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 32
rotation_distance:8
endstop_pin: probe:z_virtual_endstop
position_max: 270
position_min: -5

[tmc2209 stepper_z]
uart_pin: PB14
interpolate: True
run_current: 0.8
uart_address:3 
# hold_current:0.5
stealthchop_threshold: 0
sense_resistor: 0.150

[filament_switch_sensor filament_sensor]
switch_pin: !PC6
pause_on_runout: true
# runout_gcode: PAUSE

[extruder]
max_extrude_only_distance:1000
max_extrude_cross_section:80
pressure_advance: 0.04
step_pin: nozzle_mcu: PB5
dir_pin: !nozzle_mcu: PB4
enable_pin: !nozzle_mcu: PB2
microsteps: 16
# gear_ratio: 42:12
rotation_distance: 7.53
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: nozzle_mcu: PB8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: nozzle_mcu: PA0
control: pid
pid_kp: 20.145
pid_ki: 1.919 
pid_kd: 52.881

min_temp: 0
max_temp: 320

[tmc2209 extruder]
uart_pin: nozzle_mcu: PB10
# tx_pin: nozzle_mcu: PB11
run_current: 0.7
sense_resistor: 0.15
stealthchop_threshold: 0
uart_address:3 

[adxl345 x]
cs_pin: nozzle_mcu:PA4
spi_speed: 5000000
axes_map: z,-x,y
spi_software_sclk_pin: nozzle_mcu:PA5
spi_software_mosi_pin: nozzle_mcu:PA7
spi_software_miso_pin: nozzle_mcu:PA6

[adxl345 y]
cs_pin: rpi:None
spi_speed: 2000000
spi_bus: spidev2.0

[resonance_tester]
accel_chip_x: adxl345 x
accel_chip_y: adxl345 y
accel_per_hz: 50
probe_points:110,110,5
max_freq:90

[heater_bed]
heater_pin: PB2
sensor_type: EPCOS 100K B57560G104F 
sensor_pin: PC4
control: pid
pid_kp: 70.652
pid_ki: 1.798
pid_kd: 694.157
min_temp: 0
max_temp: 130

[verify_heater extruder]
[verify_heater heater_bed]
check_gain_time: 120
heating_gain: 1.0
hysteresis: 10

[fan]
pin: nozzle_mcu:PB6
cycle_time: 0.0100
hardware_pwm: false

[heater_fan hotend]
pin: nozzle_mcu: PB7
max_power: 1.0
shutdown_speed: 0
cycle_time: 0.010
hardware_pwm: False
kick_start_time: 0.100
heater: extruder
fan_speed: 1.0
heater_temp: 60.0

# this makes sure that the MCU fan is always on
[static_digital_output mcu_fan_always_on]
pins: PB1

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

