# Simple AF Base Printer (F002)
# F002
# Printer_size: 300x300x330
# Version: v1.3.12
# CreateDate: 2023/08/22
# Nozzle_mcu: chip: GD32F303CBT6
#             version: F002-MAX-NOZZLE-V1.0.0
# Leveling_mcu: chip: GD32E230F8P6
#             version: F002-LEVELING-V1.0.0
# mcu: chip: GD32F303RET6
#      version: CR4CU220812S12

[mcu]
serial: /dev/ttyS7
baud: 230400
restart_method: command

[mcu nozzle_mcu]
serial: /dev/ttyS1
baud: 230400
restart_method: command

[mcu leveling_mcu]
serial: /dev/ttyS9
baud: 230400
restart_method: command
[filament_switch_sensor filament_sensor]
pause_on_runout: true
switch_pin: !PC15

[verify_heater extruder]
check_gain_time:30
[verify_heater heater_bed]
check_gain_time:120
heating_gain: 1.0
hysteresis: 10

[gcode_arcs]
resolution: 1.0

[stepper_x]
step_pin:PC2
dir_pin:PB9
enable_pin:!PC3
microsteps:32
rotation_distance:40
# endstop_pin:tmc2209_stepper_x:virtual_endstop
endstop_pin:PA5
position_endstop:-2
position_min:-4
position_max:304
homing_speed:60
homing_retract_dist:0
# full_steps_per_rotation: 200
# homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin:PA9
driver_SGTHRS: 90
uart_address:3
interpolate: true
run_current:1.5
sense_resistor: 0.10
stealthchop_threshold: 0
diag_pin: ^PB12
driver_TBL: 0
driver_TOFF: 1
driver_HEND: 12
driver_HSTRT: 7

[stepper_y1]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 32
rotation_distance: 32
endstop_pin: tmc2209_stepper_y:virtual_endstop

[tmc2209 stepper_y1]
uart_pin:PA10
driver_SGTHRS: 90
uart_address:3
interpolate: false
run_current:1.5
# hold_current:0.5
sense_resistor: 0.10
stealthchop_threshold: 0
diag_pin: ^PB15
driver_TBL: 1
driver_TOFF: 2
driver_HEND: 2
driver_HSTRT: 4

[stepper_y]
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 32
rotation_distance: 32
# endstop_pin: !PA12
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: -3 
position_min: -3
position_max: 305
homing_speed: 30
homing_retract_dist:0

[tmc2209 stepper_y]
uart_pin:PA12
driver_SGTHRS: 90
uart_address:3
interpolate: false
run_current:1.5
# hold_current:0.5
sense_resistor: 0.10
stealthchop_threshold: 0
diag_pin: ^PB15
driver_TBL: 1
driver_TOFF: 2
driver_HEND: 2
driver_HSTRT: 4

[stepper_z]
step_pin: PB6
dir_pin: PB5
enable_pin: !PC3
microsteps: 32
rotation_distance:40
# endstop_pin: tmc2209_stepper_z:virtual_endstop
endstop_pin:PA15
position_endstop: 330
position_min: -5
position_max: 335
homing_speed: 60
homing_retract_dist:0

[tmc2209 stepper_z]
uart_pin:PA11
driver_SGTHRS: 95
uart_address:3
interpolate: true
run_current:1.5
# hold_current:0.5
sense_resistor: 0.10
stealthchop_threshold: 0
diag_pin: ^PB14
driver_TBL: 0
driver_TOFF: 1
driver_HEND: 12
driver_HSTRT: 7

[extruder]
max_extrude_cross_section: 80
max_extrude_only_distance:1000.0
step_pin:nozzle_mcu:PB5
dir_pin:nozzle_mcu:PB4
enable_pin:!nozzle_mcu:PB2
microsteps:16
rotation_distance:6.9
nozzle_diameter:0.400
filament_diameter:1.750
heater_pin:nozzle_mcu:PB8
sensor_type: EPCOS 100K B57560G104F
sensor_pin:nozzle_mcu:PA0
pressure_advance: 0.04
pressure_advance_smooth_time: 0.040
control:pid
pid_Kp:24.669
pid_Ki:2.937
pid_Kd:51.804
min_temp:-15
max_temp:320

[tmc2209 extruder]
uart_pin:nozzle_mcu:PB11
tx_pin:nozzle_mcu:PB10
uart_address:3
interpolate: false
run_current:0.55
hold_current:0.5
sense_resistor: 0.150
stealthchop_threshold: 0

[heater_bed]
heater_pin: PB10
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
# control: watermark
control: pid
pid_kp: 72.873
pid_ki: 0.724
pid_kd: 1833.663
min_temp: -15
max_temp: 105

[resonance_tester]
accel_chip_x: adxl345 nozzle
accel_chip_y: adxl345 bed
#accel_per_hz: 50
probe_points:
   150,150,20

[printer]
kinematics:corexz
max_velocity:600
max_accel:20000
max_z_velocity:500
square_corner_velocity: 5.0
[adxl345 bed]
cs_pin: leveling_mcu:PA4
axes_map: y,x,z
spi_software_sclk_pin: leveling_mcu:PA5
spi_software_mosi_pin: leveling_mcu:PA7
spi_software_miso_pin: leveling_mcu:PA6

[adxl345 nozzle]
cs_pin: nozzle_mcu:PA4
axes_map: y,-z,x
spi_software_sclk_pin: nozzle_mcu:PA5
spi_software_mosi_pin: nozzle_mcu:PA7
spi_software_miso_pin: nozzle_mcu:PA6

[fan]
pin:!nozzle_mcu: PB3
cycle_time: 0.0100
hardware_pwm: false
# this is a feature of Simple AF klipper to support P argument
# and the mapping is P1=chamber, P2=auxiliary, P3=chamber
p_selector_map: chamber, auxiliary

[fan_generic auxiliary]
pin:nozzle_mcu:PB9
cycle_time: 0.0100
hardware_pwm: false

[heater_fan hotend]
pin:nozzle_mcu:PB6
heater:extruder
heater_temp:50.0
cycle_time: 0.0100
hardware_pwm: false
shutdown_speed: 0.0
fan_speed:1

# this makes sure that the MCU fan is always on
[static_digital_output mcu_fan_always_on]
pins: PB2

[static_digital_output my_board_fan]
pins: nozzle_mcu:PB7

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor nozzle_mcu_temp]
sensor_type: temperature_mcu
sensor_mcu: nozzle_mcu
min_temp: 0
max_temp: 100

