# Simple AF Base Printer (F004)
# Ender 5 Max
# Printer_size: 400x400x400
# Version: v1.2.10
# CreateDate: 2023/08/24
# Nozzle_mcu: chip: GD32F303CBT6
#             version: CR-NOZZLE_V21
# Leveling_mcu: chip: GD32E230F8P6
#             version: CR-K1-MAX-LEVELING-V1.0.0
# mcu: chip: GD32F303RET6
#      version: CR4NS200323C10
[mcu]
serial:/dev/ttyS1
baud:230400
restart_method: command

[mcu nozzle_mcu]
serial:/dev/ttyS7
baud: 230400
restart_method: command

[mcu leveling_mcu]
serial: /dev/ttyS6
baud: 230400
restart_method: command

[verify_heater extruder]
[verify_heater heater_bed]
check_gain_time: 120
heating_gain: 1.0
hysteresis: 10

[printer]
kinematics: corexy
max_velocity: 1000
max_accel: 100000
max_z_velocity: 30
square_corner_velocity: 5.0
max_z_accel: 300

[stepper_x]
step_pin: PC2
dir_pin: !PB9
enable_pin: !PC3
microsteps: 32
rotation_distance: 63.874
endstop_pin: !PA11
#endstop_pin: tmc2209_stepper_x:virtual_endstop
#endstop_pin: nozzle_mcu: PB0
position_endstop: 400.5
position_min: -5
position_max: 406
homing_speed: 40
homing_retract_dist:0

[tmc2209 stepper_x]
uart_pin:PB12
driver_SGTHRS: 80
uart_address:3 
interpolate: True
run_current: 2.0
sense_resistor: 0.150
stealthchop_threshold: 0
diag_pin: ^PB10

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 32
rotation_distance: 64.024
endstop_pin: !PA12
#endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 401
position_min: -1
position_max: 401
homing_speed: 40
homing_retract_dist:0

[tmc2209 stepper_y]
uart_pin:PB13
driver_SGTHRS: 80
uart_address:3 
interpolate: True
run_current: 2.0
sense_resistor: 0.150
stealthchop_threshold: 0
diag_pin: ^PB11

[stepper_z]
step_pin: PB6
dir_pin: PB5
enable_pin: !PC3
microsteps: 32
rotation_distance: 3.9930
gear_ratio: 1:1
endstop_pin: tmc2209_stepper_z:virtual_endstop
position_endstop: 0
position_max: 406.5
position_min: -5

[tmc2209 stepper_z]
uart_pin: PB14
interpolate: True
run_current: 0.8
uart_address:3 
# hold_current:0.5
stealthchop_threshold: 0
sense_resistor: 0.150
diag_pin: PB0
# driver_SGTHRS: 0

[filament_switch_sensor filament_sensor]
switch_pin: !PC6
pause_on_runout: true
# runout_gcode: PAUSE

[output_pin Height_module2]
pin: PA7
value: 1.0

[extruder]
max_extrude_only_distance:1000
max_extrude_cross_section:80
pressure_advance: 0.04
step_pin: nozzle_mcu: PB5
dir_pin: nozzle_mcu: PB4
enable_pin: !nozzle_mcu: PB2
microsteps: 16
# gear_ratio: 42:12
rotation_distance: 6.72
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: nozzle_mcu: PB8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: nozzle_mcu: PA0
control: pid
pid_kp: 20.145
pid_ki: 1.919 
pid_kd: 52.881
min_temp: 0
max_temp: 320

[tmc2209 extruder]
uart_pin: nozzle_mcu: PB10
# tx_pin: nozzle_mcu: PB11
run_current: 0.6
sense_resistor: 0.15
stealthchop_threshold: 0
uart_address:3 

[resonance_tester]
accel_chip: adxl345
accel_per_hz: 50
probe_points: 200,200,10

[heater_bed]
heater_pin: PA4
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control = watermark
control: pid
pid_kp: 30
pid_ki: 0.075
pid_kd: 800
min_temp: -30
max_temp: 130
#temp_offset_flag = True

[output_pin green_pin]
pin: PA0
value: 0.0
[output_pin red_pin]
pin: PC1
value: 0.0
[output_pin yellow_pin]
pin: PA1
value: 1.0
[output_pin light_pin]
#pin: nozzle_mcu: PB0
pin: PC0
value: 0.0

[adxl345]
cs_pin: nozzle_mcu:PA4
axes_map: x,-z,y
spi_speed: 5000000
spi_software_sclk_pin: nozzle_mcu:PA5
spi_software_mosi_pin: nozzle_mcu:PA7
spi_software_miso_pin: nozzle_mcu:PA6

[multi_pin part_fans]
pins:!nozzle_mcu:PB15,!nozzle_mcu:PA9

[multi_pin en_part_fans]
pins:nozzle_mcu:PB6,nozzle_mcu:PB9

[fan]
pin: multi_pin:part_fans
enable_pin: multi_pin:en_part_fans
cycle_time: 0.0100
hardware_pwm: false

[heater_fan hotend]
pin: !nozzle_mcu:PB3
tachometer_pin: ^nozzle_mcu:PB7
heater: extruder
heater_temp: 40

# this makes sure that the MCU fan is always on
[static_digital_output mcu_fan_always_on]
pins: PB1

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor nozzle_mcu_temp]
sensor_type: temperature_mcu
sensor_mcu: nozzle_mcu
min_temp: 0
max_temp: 100

