[bed_mesh]
mesh_max: 192,215
probe_count: 12,12

# based on https://github.com/Guilouz/Creality-Helper-Script/blob/main/files/screws-tilt-adjust/screws-tilt-adjust-k1.cfg
[screws_tilt_adjust]
screw1: 58,20
screw2: 228,20
screw3: 228,190
screw4: 58,190
