[bed_mesh]
mesh_min: 10,10
mesh_max: 205, 210

# based on https://github.com/Guilouz/Creality-Helper-Script/blob/main/files/screws-tilt-adjust/screws-tilt-adjust-k1.cfg
[screws_tilt_adjust]
screw1: 48,20
screw2: 218,20
screw3: 218,190
screw4: 48,190
