[bed_mesh]
mesh_min: 10,10
mesh_max: 280,280

# based on https://github.com/Guilouz/Creality-Helper-Script/blob/main/files/screws-tilt-adjust/screws-tilt-adjust-k1.cfg
[screws_tilt_adjust]
screw1: 42,23
screw2: 301,23
screw3: 271,272
screw4: 71,272
