[bed_mesh]
mesh_min: 15,10
mesh_max: 207,215

# based on https://github.com/Guilouz/Creality-Helper-Script/blob/main/files/screws-tilt-adjust/screws-tilt-adjust-k1.cfg
[screws_tilt_adjust]
screw1: 25,3
screw2: 195,3
screw3: 195,173
screw4: 25,173
