[bed_mesh]
mesh_min: 5,30
mesh_max: 285,280

# based on https://github.com/Guilouz/Creality-Helper-Script/blob/main/files/screws-tilt-adjust/screws-tilt-adjust-k1max.cfg
[screws_tilt_adjust]
screw1: 19,0
screw2: 278,0
screw3: 248,252
screw4: 48,252
