[Unit]
Description=GrumpyScreen
After=moonraker.service multi-user.target
StartLimitIntervalSec=0
ConditionPathExists=/dev/tty1

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=$HOME/guppyscreen
# this is the DSI default path on RPI far as I can see
Environment="LVGL_EVDEV_DEV=/dev/input/by-path/platform-soc:firmware:touchscreen-event"
Environment="WPA_SUPPLICANT_SOCKET=/var/run/wpa_supplicant"
ExecStartPre="$HOME/guppyscreen/cursor.sh"
ExecStart="$HOME/guppyscreen/guppyscreen"

[Install]
WantedBy=multi-user.target
