# K1-MAX
# Start Print macro definition
# Author: Ales OMAHEN

[virtual_pins]

[output_pin Heatsoak_bed]
pin: virtual_pin:Heatsoak_bed_pin
value: 1

[output_pin Bed_levelling]
pin: virtual_pin:Bed_levelling_pin
value: 1

[output_pin Bed_levelling_adaptive]
pin: virtual_pin:Bed_levelling_adaptive_pin
value: 1

[output_pin Home_before_print]
pin: virtual_pin:Home_before_print_pin
value: 1

[gcode_macro CANCEL_PRINT]
description: Cancel the running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  WAIT_BED_SETTLE_CANCEL      # Also make sure the thermal settling of the bed is ended
  CANCEL_PRINT_BASE
  #G0 Z{z_safe} F3600 ; move nozzle up
  #G0 X{x_safe} Y{y_safe} F20000 ; move nozzle to remove stringing
  #M107 ; turn off fan
  #G90 ; absolute positioning
  #G0 X60 Y{max_y} F3600 ; park nozzle at rear
  #BED_MESH_CLEAR

[gcode_macro START_PRINT]
variable_prepare: 0
variable_start_print_phase: 0
variable_bed_temp: 0
variable_extruder_temp: 0
variable_g28_extruder_temp: 0
gcode:
  WAIT_TEMP_END
  CLEAR_PAUSE

  {% set bed_temp          = printer.custom_macro.default_bed_temp %}
  {% set extruder_temp     = printer.custom_macro.default_extruder_temp %}
  {% set g28_extruder_temp = printer.custom_macro.g28_ext_temp %}

  {% if 'BED_TEMP' in params|upper and (params.BED_TEMP|float) %}
    {% set bed_temp = params.BED_TEMP|float %}
  {% endif %}

  {% set soak_time = params.BED_HEATSOAK|default(15)|int  %}

  {% if 'EXTRUDER_TEMP' in params|upper and (params.EXTRUDER_TEMP|float) %}
    {% set extruder_temp = params.EXTRUDER_TEMP|float %}
    {% set g28_extruder_temp = extruder_temp|float * 0.7 %}
  {% endif %}

  SET_GCODE_VARIABLE MACRO=START_PRINT VARIABLE=bed_temp VALUE={bed_temp}
  SET_GCODE_VARIABLE MACRO=START_PRINT VARIABLE=extruder_temp VALUE={extruder_temp}
  SET_GCODE_VARIABLE MACRO=START_PRINT VARIABLE=g28_extruder_temp VALUE={g28_extruder_temp}
  SET_GCODE_VARIABLE MACRO=START_PRINT VARIABLE=start_print_phase VALUE=1

  RESPOND TYPE=command MSG="-----------------------"
  INFO_Z_OFFSET
  INFO_FAN
  RESPOND TYPE=command MSG="-----------------------"
  
  {% if printer['gcode_macro START_PRINT'].prepare|int == 0 %}
    RESPOND TYPE=command MSG="Print not prepared"
    PRINT_PREPARE_CLEAR
    SAVE_GCODE_STATE NAME=myMoveState
    
    {% set temp_rnd = (((printer.heater_bed.temperature * 10.0)|round())/10.0) %}
    RESPOND TYPE=command MSG="Current bed temperature: {temp_rnd}C."
    {% set temp_rnd = (((bed_temp * 10.0)|round())/10.0) %}
    ANNOUNCE MSG="Heating bed to {temp_rnd}C {bed_temp}..."
    M140 S{bed_temp}        # M190 sets bed temperature and waits. M140 just sets temp.
    
    {% if printer['output_pin Home_before_print'].value == 1 %}
      G28                     # Home all axis and use the time to heat up the bed
    {% endif %}

    # NOTE: probe heats up while probing bringing a varying level of precision
    # On bed temperatures over 60C, we give the probe a bit of breathing space.
    # Microprobe is rated to <= 60C ambient temperature
    {% if ('prtouch_v2' in printer.configfile.config) %}
      RESPOND TYPE=command MSG="Using PRTouch probe. Lowering of bed not needed."
    {% else %}
      {% if bed_temp|float > 60.0 %}
        {% if printer['output_pin Heatsoak_bed'].value == 1 %}
          RESPOND TYPE=command MSG="Using Klipper Probe. Lowering bed to protect it from excessive heat."
          G90                     # Use absolute coordinates
          G1 Z50 F1500            # Lower the bed down by 50mm, to not excessively heat the BQUI Microprobe and keep better accuracy
        {% else %}
          RESPOND TYPE=command MSG="Using Klipper Probe."
        {% endif %}
        SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=chamber_fan TARGET=50
      {% else %}
        RESPOND TYPE=command MSG="Using Klipper Probe. Bed temperature within probe spec. Keeping probe close to the bed."
        SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=chamber_fan TARGET=25
      {% endif %}
    {% endif %}
    
    M190 S{bed_temp}        # M190 sets bed temperature and waits. M140 just sets temp.

    {% if printer['output_pin Heatsoak_bed'].value == 1 %}
      #WAIT_BED_SETTLE_ASYNC TIME={soak_time} CALLBACK="START_PRINT_PH2"  # Wait for the bed to thermally settle (K1 Max needs about 10-15 minutes) and then call START_PRINT_PH2
      WAIT_BED_SETTLE TIME={soak_time}  # Wait for the bed to thermally settle (K1 Max needs about 10-15 minutes) and then call START_PRINT_PH2
      START_PRINT_PH2
    {% else %}
      START_PRINT_PH2   # No thermal settling needed, just continue with START_PRINT_PH2
    {% endif %}
  {% else %}
    PRINT_PREPARE_CLEAR
    ANNOUNCE MSG="Printing..."
  {% endif %}


[gcode_macro START_PRINT_PH2]
gcode:
  RESPOND TYPE=command MSG="Start print phase 2."
  {% if printer['gcode_macro START_PRINT'].start_print_phase|int == 0 %}
    ANNOUNCE MSG="Do not call START_PRINT_PH2 directly. Call START_PRINT instead."
    CANCEL_PRINT
  {% else %}
    SET_GCODE_VARIABLE MACRO=START_PRINT VARIABLE=start_print_phase VALUE=2
    {% set extruder_temp     = printer['gcode_macro START_PRINT'].extruder_temp %}
    {% set g28_extruder_temp = printer['gcode_macro START_PRINT'].g28_extruder_temp %}
    {% set bed_temp          = printer['gcode_macro START_PRINT'].bed_temp %}

    RESPOND TYPE=command MSG="extruder_temp: {extruder_temp}C, g28_extruder_temp: {g28_extruder_temp}C, bed_temp: {bed_temp}C."

    {% if printer['gcode_macro START_PRINT'].prepare|int == 0 %}
      {% if (printer['output_pin Home_before_print'].value == 1) and (printer['output_pin Heatsoak_bed'].value == 1) %}
        G28 Z                   # Re-home z-axis to compensate for bed thermal expansion
      {% endif %}

      # NOTE: The nozzle needs to heat up before a wipe
      {% if ('prtouch_v2' in printer.configfile.config) %}
        RESPOND TYPE=command MSG="Using PRTouch probe."
        RESPOND TYPE=command MSG="Heating extruder to intermediate temp of {g28_extruder_temp}C..."
        M109 S{g28_extruder_temp}  # M109 sets extruder temperature and waits. M104 just sets temp.
      {% elif ('probe' in printer.configfile.config) %}
        RESPOND TYPE=command MSG="Using Klipper Probe."
      {% endif %}

      {% if printer['output_pin Bed_levelling'].value == 1 %}
        ANNOUNCE MSG="Creating bed mesh..."
        #{% for i in range(1, 6) %}
        #  BED_MESH_CALIBRATE PROFILE="MP{bed_temp}.{i}"
        #{% endfor %}
        {% if printer['output_pin Bed_levelling_adaptive'].value == 1 %}
          BED_MESH_CALIBRATE ADAPTIVE=1     # Use adaptive bed mesh
        {% else %}
          BED_MESH_CALIBRATE                # Probe the bed mesh
        {% endif %}
      {% endif %}

      RESPOND TYPE=command MSG="Bringing hotend to target temp of {extruder_temp}C..."
      M82                    # absolute extrusion mode
      G1 Z5 F1500            # Lower the bed first to minimize potential build sheet damage
      G0 X12 Y12 F9000       # homing position
      M109 S{extruder_temp}  # full extruder temp
      G92 E0                 # Reset Extruder

      ANNOUNCE MSG="Purging..."
      PRINT_DRAW_ONE_LINE

      RESTORE_GCODE_STATE NAME=myMoveState
    {% else %}
      PRINT_PREPARE_CLEAR
    {% endif %}

    ANNOUNCE MSG="Printing..."
  {% endif %}
  SET_GCODE_VARIABLE MACRO=START_PRINT VARIABLE=start_print_phase VALUE=0          # Reset start print state

[gcode_macro END_PRINT]
gcode:
  Qmode_exit
  EXCLUDE_OBJECT_RESET
  {% set act_z = printer.toolhead.position.z|float %}
  {% set max_z = printer["gcode_macro PRINTER_PARAM"].max_z_position|float %}
  PRINT_PREPARE_CLEAR
  M220 S100
  M204 S500
  SET_VELOCITY_LIMIT ACCEL=5000 ACCEL_TO_DECEL=2500
  ANNOUNCE MSG="Heaters off..."
  #TURN_OFF_HEATERS
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=0
  # Cool the enclosure to ambient
  SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=chamber_fan TARGET=25
  ANNOUNCE MSG="Parking head and cooling filament..."
  M107 P1
  M106 P2 S204      # side fan to 80% to prevent filament from oozing
  G91               # relative positioning
  G1 E-1.0 F180     # short retract at 1mm/s
  G1 E-4.0 F4000    # fast retract at 2mm/s
  G1 F360 Z+2       # short and fast move up
  G90               # absolute positioning
  {% set y_park = printer.toolhead.axis_maximum.y/2 %}
  {% set x_park = printer.toolhead.axis_maximum.x|float - 10.0 %}
  RESPOND TYPE=command MSG="Parking head at [{x_park},{y_park}]"
  G1 X{x_park} Y{y_park} F1000                         # move head towards the side blower fan
  ANNOUNCE MSG="Presenting print..."
  {% if act_z < (max_z / 2) %}
    {% set z_present = (max_z / 2) %}
    G91             # relative positioning
    RESPOND TYPE=command MSG="Presenting print at Z:{z_present}"
    G1 Z{z_present}
    G90             # absolute positioning
  {% endif %}
  # No need for this, since WAIT_TEMP_START turns off both fans
  #ANNOUNCE MSG="Turning off fans..."
  #M107 P1            # turn off part cooling fan
  #M107 P2            # turn off sidefan
  END_PRINT_POINT
  #WAIT_TEMP_START    # Creality cooldown routine
  WAIT_COOLDOWN       # async call - timer driven macro
  ANNOUNCE MSG="Turning off motors..."
  M84
