[bed_mesh]
mesh_min: 20,20
mesh_max: 200,200

# based on https://github.com/Guilouz/Creality-Helper-Script/blob/main/files/screws-tilt-adjust/screws-tilt-adjust-k1.cfg
[screws_tilt_adjust]
screw1: 25,0
screw2: 195,0
screw3: 195,170
screw4: 25,170
