[gcode_macro _CARTOGRAPHER_VARIABLES]
# you can set this to False to not do touch
variable_touch_mode: True
# whether we need to verify K1 specific cartographer firmware is being used
# this will be set to False by the RPI installer
variable_verify_firmware: True
gcode:

[mcu cartographer]
is_non_critical: true           # flag this as non critical
serial: /dev/serial/by-id/XXX
restart_method: command

[cartographer]
mcu: cartographer
x_offset: 999
y_offset: 999
verbose: yes

[cartographer scan]
mesh_runs: 2

# if you want to only do scan, disable this section
[cartographer touch]
max_samples: 20

[temperature_sensor cartographer_mcu]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 0
max_temp: 105

[bed_mesh]
horizontal_move_z: 3
speed: 200
mesh_min: 999,999
mesh_max: 999,999
probe_count: 21,21
algorithm: bicubic
bicubic_tension: 0.1
mesh_pps: 0,0

[screws_tilt_adjust]
screw1: 999,999
screw1_name: front left screw
screw2: 999,999
screw2_name: front right screw
screw3: 999,999
screw3_name: rear right screw
screw4: 999,999
screw4_name: rear left screw
speed: 50
horizontal_move_z: 5
screw_thread: CW-M4

[axis_twist_compensation]
