[load_cell_probe]
sensor_type: hx711s
# dout_pins/sclk_pins vary by printer -- set in the mount override file
sensor_orientation: inverted
sample_rate: 80
gain: A-128
trigger_force: 75
force_safety_limit: 2000
drift_safety_limit: 1000
speed: 2.0
lift_speed: 10.0
z_offset: 0.0
pullback_speed: 1.0
sample_retract_dist: 0.5
samples_tolerance: 0.05
samples_tolerance_retries: 3
tap_classifier: tap_quality

[bed_mesh]
speed: 150
mesh_min: 999,999
mesh_max: 999,999
horizontal_move_z: 8
probe_count: 5,5
mesh_pps: 3,3
algorithm: bicubic
adaptive_margin: 3
move_check_distance: 3.0
split_delta_z: 0.01
horizontal_z_clearance: 8

[screws_tilt_adjust]
screw1: 999,999
screw1_name: front left screw
screw2: 999,999
screw2_name: front right screw
screw3: 999,999
screw3_name: rear right screw
screw4: 999,999
screw4_name: rear left screw
speed: 50
horizontal_move_z: 5
screw_thread: CW-M4

[axis_twist_compensation]
speed: 50
horizontal_move_z: 5
calibrate_start_x: 999
calibrate_end_x: 999
calibrate_y: 999
