# This btt eddy configuration is for this mount:
# https://www.printables.com/model/965667-wip-k1-btt-eddy-rear-mount-v4
[mcu eddy]
# is_non_critical: true           # flag this as non critical
serial: /dev/serial/by-id/usb-Klipper_rp2040_45503571288CBAF8-if00 # change this based on your device path
restart_method: command

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu
sensor_mcu: eddy
min_temp: 10
max_temp: 100

[probe_eddy_current btt_eddy]
sensor_type: ldc1612
i2c_mcu: eddy
i2c_bus: i2c0f
x_offset: 0.0
y_offset: 24.82
# Alternative mount from Zero (https://www.printables.com/model/1012524-btteddy-creality-k1-k1c-k1-max-mount)
# the following offsets are required
#x_offset: -23.0
#y_offset: 0.0

[temperature_probe btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy: gpio26
horizontal_move_z: 2

[force_move]
enable_force_move: True

# Save Z Offset from Guilouz - Creality-Helper-Script
# From - https://github.com/Guilouz/Creality-Helper-Script/blob/main/files/macros/save-zoffset.cfg

[save_variables]
filename: /usr/data/printer_data/config/variables.cfg

[gcode_macro SET_GCODE_OFFSET]
description: Saving Z-Offset
rename_existing: _SET_GCODE_OFFSET
gcode:
  {% if printer.save_variables.variables.zoffset %}
    {% set zoffset = printer.save_variables.variables.zoffset %}
  {% else %}
    {% set zoffset = {'z': None} %}
  {% endif %}
  {% set ns = namespace(zoffset={'z': zoffset.z}) %}
  _SET_GCODE_OFFSET {% for p in params %}{'%s=%s '% (p, params[p])}{% endfor %}
  {%if 'Z' in params %}
    {% set null = ns.zoffset.update({'z': params.Z}) %}
  {% endif %}
  {%if 'Z_ADJUST' in params %}
    {%if ns.zoffset.z == None %}
      {% set null = ns.zoffset.update({'z': 0}) %}
    {% endif %}
    {% set null = ns.zoffset.update({'z': (ns.zoffset.z | float) + (params.Z_ADJUST | float)}) %}
  {% endif %}
  SAVE_VARIABLE VARIABLE=zoffset VALUE="{ns.zoffset}"

[delayed_gcode LOAD_GCODE_OFFSETS]
initial_duration: 2
gcode:
  {% if printer.save_variables.variables.zoffset %}
    {% set zoffset = printer.save_variables.variables.zoffset %}
    _SET_GCODE_OFFSET {% for axis, offset in zoffset.items() if zoffset[axis] %}{ "%s=%s " % (axis, offset) }{% endfor %}
    RESPOND TYPE=command MSG="Loaded Z-Offset from variables.cfg: {zoffset.z}mm"
  {% endif %}
 