[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos  : True  ; use custom park coordinates for x,y [True/False] 
variable_custom_park_x   : 215.0 ; custom x position; value must be within your defined min and max of X
variable_custom_park_y   : 205.0  ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 50.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
gcode:

[gcode_macro START_PRINT]
gcode:
	{% set BED_TEMP=params.BED_TEMP|default(55)|float %}
	{% set EXTRUDER_TEMP=params.EXTRUDER_TEMP|default(195)|float %}

  M104 S170 ; set extruder temp for bed leveling
	M140 S{BED_TEMP} ; set bed temp

	G90
	M83
	G28

	M190 S{BED_TEMP} ; wait for bed temp

  # Enable this if you use KAMP
  #BED_MESH_CALIBRATE	

  # Enable this if you just want to load the default profile
	#BED_MESH_PROFILE LOAD=default
  
  # Enable this if you want to use integrated Adaptive Mesh
	BED_MESH_CALIBRATE ADAPTIVE=1 ADAPTIVE_MARGIN=5

  # this is the KAMP feature to use smark parking while heating
  # SMART PARK

  M104 S{EXTRUDER_TEMP} ; set extruder temp
	M109 S{EXTRUDER_TEMP} ; wait for extruder temp
	
  LINE_PURGE

  
[gcode_macro END_PRINT]
description: End the actual running print
gcode:
  _CLIENT_RETRACT LENGTH=5
  TURN_OFF_HEATERS

  # clear pause_next_layer and pause_at_layer as preparation for next print
  SET_PAUSE_NEXT_LAYER ENABLE=0
  SET_PAUSE_AT_LAYER ENABLE=0 LAYER=0
  _TOOLHEAD_PARK_PAUSE_CANCEL {rawparams}
