[gcode_shell_command cleanup_files]
command: /usr/data/pellcorp/k1/tools/cleanup-files.sh
timeout: 60
verbose: True

[gcode_macro _CLEANUP_FILES]
description: Cleanup Backup Config files
gcode:
    RUN_SHELL_COMMAND CMD=cleanup_files PARAMS="--client"

[gcode_shell_command support_zip]
command: /usr/data/pellcorp/k1/tools/support.sh
timeout: 60
verbose: True

[gcode_macro SUPPORT_ZIP]
description: Generate support.zip
gcode:
    RUN_SHELL_COMMAND CMD=support_zip

[gcode_shell_command config_overrides]
command: /usr/data/pellcorp/k1/config-overrides.sh
timeout: 600.0
verbose: True

[gcode_macro CONFIG_OVERRIDES]
gcode:
  RUN_SHELL_COMMAND CMD=config_overrides

[gcode_shell_command check-firmware]
command: /usr/data/pellcorp/k1/tools/check-firmware.sh
timeout: 600.0
verbose: True

[gcode_macro CHECK_FIRMWARE]
gcode:
  RUN_SHELL_COMMAND CMD=check-firmware

[gcode_shell_command check-updates]
command: /usr/data/pellcorp/k1/tools/check-updates.sh
timeout: 60
verbose: True

[gcode_macro CHECK_UPDATES]
gcode:
  RUN_SHELL_COMMAND CMD=check-updates

# this is an experimental macro which does not restart the required services automatically.
[gcode_shell_command simple_af_installer]
command: /usr/data/pellcorp/k1/installer.sh
timeout: 600
verbose: True

[gcode_macro _UPDATE_SIMPLE_AF]
gcode:
  RESPOND TYPE=command MSG='Updating Simple AF git repository ...'
  RUN_SHELL_COMMAND CMD=simple_af_installer PARAMS="--update-repo"
  RESPOND TYPE=command MSG='Updating Simple AF ...'
  RUN_SHELL_COMMAND CMD=simple_af_installer PARAMS="--client ui --update"

[gcode_shell_command wait_for_usb_key]
command: /usr/data/pellcorp/k1/tools/wait-for-usb-key.sh
timeout: 60
verbose: True

[gcode_macro CHECK_USB_KEY]
gcode:
  RUN_SHELL_COMMAND CMD=wait_for_usb_key

[gcode_shell_command webcam]
command: /etc/init.d/S50webcam
timeout: 10
verbose: False

[gcode_macro STOP_CAMERA]
description: Stop camera
gcode:
    G4 P1000
    RUN_SHELL_COMMAND CMD=webcam PARAMS="stop"
    RESPOND TYPE=command MSG='Camera stopped'
    SET_GCODE_VARIABLE MACRO=START_CAMERA VARIABLE=started VALUE=False
    G4 P1000

[gcode_macro START_CAMERA]
variable_started: True
description: Start camera
gcode:
    G4 P1000
    RUN_SHELL_COMMAND CMD=webcam PARAMS="start"
    RESPOND TYPE=command MSG='Camera started'
    SET_GCODE_VARIABLE MACRO=START_CAMERA VARIABLE=started VALUE=True
    G4 P1000
