[output_pin probe_enable]
pin: nozzle_mcu: PA8 # Set to the control pin on your board
value: 0

# This microprobe configuration is for this mount:
# https://www.printables.com/model/867527-k1-biqu-microprobe-mount-remix
[probe]
#pin: ^nozzle_mcu: PA9  # MicroProbe V1 users should use this line to trigger on high
pin: ^!nozzle_mcu: PA9  # MicroProbe V2 users should use this line to trigger on low
deactivate_on_each_sample: False
x_offset: -33.0
y_offset: 0
# meeds tp be overriden using PROBE_CALIBRATE
z_offset: 0
samples: 3
speed: 5
lift_speed: 20
samples_tolerance: 0.05
samples_tolerance_retries: 3
activate_gcode:
  SET_PIN PIN=probe_enable VALUE=1
  G4 P500
deactivate_gcode:
  SET_PIN PIN=probe_enable VALUE=0
