[bed_mesh]
mesh_min: 30,25
mesh_max: 210,210

# based on https://github.com/Guilouz/Creality-Helper-Script/blob/main/files/screws-tilt-adjust/screws-tilt-adjust-k1.cfg
[screws_tilt_adjust]
screw1: 42,20
screw2: 211,20
screw3: 211,190
screw4: 42,190
